* {
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'swiper-icons';
  src: url('inlove-light-wf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('inlove-light-wf.woff') format('woff'), /* Modern Browsers */
       url('inlove-light-wf.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('inlove-light-wf.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.box-wrap-main {
  height: 100vh;
}
.swiper-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  
}

.swiper-slide {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff !important;
}
.swiper-slide.active {
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  border: 0px;
  background-color: initial;
}
button:disabled,
button[disabled]{
  opacity: 0.35;
}

.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}
.swiper-button-prev::after {
  font-family: "Font Awesome 5 Free";
   content: "\f104";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight:700;
   font-size: 36px;
   color: #007aff;
}
.swiper-button-next::after {
  font-family: "Font Awesome 5 Free";
   content: "\f105";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight:700;
   font-size: 36px;
   color: #007aff;
}
button:disabled,
button[disabled]{
  opacity: 0.35;
}

/* .swiper-wrapper {
  transition: transform 0.3s ease;
} */